* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, helvetica, sans-serif;
}

#pioneer-logo {
  width: 90px;
}

#github-logo {
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}

.outline {
  border: 1px solid green;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #a6a6da;
}

.logo-top-bar {
  display: flex;
  align-items: center;
}

.top-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 1rem;
}

.top-bar li {
  margin: 0 1rem;
}

.top-bar li a {
  text-decoration: none;
  color: white;
  font-weight:700;
}

.banner {
  text-align: center;
  padding: 25vh;
  background-color: lavender;
}

.banner h1 {
  padding: 1rem;
}